/*!
Theme Name: RYC Pequeña Empresa
Theme URI: https://github.com/landinezrichard
Author: Ricardo Landínez Ospino
Author URI: https://twitter.com/landirichard
Description: Tema para una pequeña empresa.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ryc
*/


/* ----------- ESTILOS ------------ */