//---------------------------------------------------------------------
// WIDGETS
//---------------------------------------------------------------------

.widget-title
	margin-top 0
	font-family $font_sans
	font-size 1.3em
	font-weight 700
	
	a
		color white

.widget
	margin-bottom 2em