//Comentario Info. tema:
@import "stylus/00-theme-info.styl"

@import "nib"
//Al parecer ahora "nib" incluye normalize, sin embargo revisar los estilos
@import "stylus/ref-css/normalize.styl"

//---------------------------------------------------------------------
// IMPORTAR Y PROCESAR TODOS LOS ARCHIVOS .styl
//---------------------------------------------------------------------

@import "stylus/01-vari-mix.styl"

@import "stylus/02-general.styl"

@import "stylus/03-form.styl"

@import "stylus/04-layout.styl"

@import "stylus/05-page.styl"

// @import "stylus/06-content.styl"

// @import "stylus/07-home.styl"

// @import "stylus/08-widgets.styl"